@import './base.css';

main {
  margin: 0 auto;
  padding-top: 0;
  font-weight: normal;
}

.container {
  max-width: 1280px;
  margin: auto;
}

a,
.green {
  text-decoration: none;
  color: white;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: #6E9F6E;
  }
}

